@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap");

body {
  display: flex;
  font-family: "Cherry Bomb One", cursive;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

#background {
  background-image: url("Psyduck\ Background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

#game-grid.med {
  justify-content: space-between;
}

#game-grid {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 65%;
}

#left-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
}

#main-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.green {
  background-color: yellowgreen;
}

.card.med {
  width: 22.9%;
}

.card.hard {
  width: 16.6%;
}

.card {
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 1s;
  width: 33.3%;
}

img {
  width: 100%;
}

.front-face,
.back-face {
  backface-visibility: hidden;
  position: absolute;
}

.flip {
  transform: rotateY(180deg);
}

.front-face {
  transform: rotateY(180deg);
}

.locked {
  pointer-events: none;
}

.matched {
  opacity: 100%;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#game-stats {
  display: flex;
  flex-direction: row;
}

#game-stats p {
  margin: 20px;
}

#buttons {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

#buttons button {
  background-color: yellowgreen;
  border: none;
  border-radius: 10px;
  font-family: "Cherry Bomb One", cursive;
  padding: 10px;
}

#buttons button:hover {
  background-color: yellow;
}

#game-options {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#controls div {
  margin: 0 20px;
}

select {
  font-family: "Cherry Bomb One", cursive;
  padding: 10px;
}

select option {
  font-family: "Cherry Bomb One", cursive;
}
